<div class="main">
    <span>{{label}}<span style="color: red">{{warning}}</span></span>
    
    <select
        
        ng-model="input"
        ng-required="required"
        ng-disabled="disabled"

        ng-change="handleInput()"
         >

        <option 
            ng-if="options !== undefined"
            ng-selected="input === op" 
            ng-repeat="op in options" 
            ng-value="op">{{op}}</option>  
            
        <option 
            ng-if="pairs !== undefined"
            ng-selected="input === op.value" 
            ng-repeat="op in pairs" 
            ng-value="op.value">{{op.option}}</option>  
    </select>
    
</div>
<!-- onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();' -->