.full-row {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80px;
    width: 100%;
    margin-top: 1rem;
}
.main span {
    font-size: 15px;
    color: gray;
}

.main .warning-label {
    font-size: 10px;
    color: red;
}

.main input,select {
    flex: 1;
    font-size: 20px;
    margin-top: 0.5rem;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    padding: 0;
}

.main .icon {
    width: 20px;
    font-size: 20px;
}

.main option {
    font-size: 25px;
}

.main input:focus {
    outline: none;
}

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
    opacity: 0.3;
}

@keyframes ease-to-top {
    0% {
        top: 70%;
        opacity: 0.5;
    }

    100% {
        top: 45%;
    }
}

.overlay {
    position: fixed;
    border-radius: 7px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    animation: ease-to-top ease 0.4s forwards;
    border: 1px solid #666;
    box-shadow: #333 0px 0px 5px;
    background-color: #eee;
    z-index: 2;
}