<div class="interact-nav">
    <h3 class="interact-nameDisplay">{{profile.fullName}}</h3>
    <div class="interact-button-wrapper">
        <button ng-if="tab === 'information'" class="interactButton" ng-click="changeState()">
            <i ng-if="!isEditting" class="fa-solid fa-pen-to-square"></i>
            <i ng-if="isEditting" class="fa-solid fa-clipboard-check"></i>
        </button>
        <button class="interactButton" ng-click="isOpeningDelModal = true">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>
    <!-- {isOpeningDelModal && 
        <DeleteProfileDialog onBackdropClick={()=>setOpeningDelModal(false)} refetch={props.refetch}
        profile={props.profile}/>} -->
</div>