<div class="pagination-btn-group">
    <button class="btn btn-primary" 
        ng-click="handlePage(-1)"
        ng-disabled="page <= 1">«</button>
    
    <button ng-if="page - 2 >= 1 && page === maxPage" 
        ng-click="handlePage(-2)">{{page - 2}}</button>
    <button ng-if="page - 1 >= 1"
        ng-click="handlePage(-1)">{{page - 1}}</button>
    <button ng-if="page !== 0"
        class="current-page-btn">{{page}}</button>
    <button ng-if="page + 1 <= maxPage"
        ng-click="handlePage(1)">{{page + 1}}</button>
    <button ng-if="page + 2 <= maxPage && page === 1"
        ng-click="handlePage(2)">{{page + 2}}</button>
    
    <button class="btn btn-primary" 
        ng-click="handlePage(1)"
        ng-disabled="page + 1 > maxPage">»</button>
</div>