<table class="search-results-container">
    <thead>
        <tr>
            <th>
                <input type="checkbox" class="check-box-search-results"
                ng-checked="isCheckAll()"
                ng-click="handleCheckAll()"/>
            </th>
            <th>No</th>
            <th>FullName</th>
            <th>Phone</th>
            <th>Team</th>
            <th>Option</th>
        </tr>
    </thead>
    
    <tbody>
        <tr ng-repeat="employee in filter_results">
            <td>
                <input type="checkbox" class="check-box-search-results"
                ng-checked="isChecked(employee.no)"
                ng-click="handleCheck(employee.no)"/>
            </td>
            <td>{{employee.no}}</td>
            <td>{{employee.fullName}}</td>
            <td>{{employee.phone}}</td>
            <td>{{getTeamName(employee.teamNo)}}</td>
            <td>
                <div class="option-wrapper">
                    <a ui-sref="profile({'EmployeeID': employee.no})"><i class="fa-solid fa-info info-button"></i></a>
                    <i class="fa-solid fa-trash-can delete-button" ng-click="deleteHandler(employee.no)"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>