<div class="tab-wrapper">
    <div class="tab-header">INFORMATIONS</div>
    <div class="tab-body">
        <swap-input-row label="FullName" model="formdata.fullName" disabled="!isEditting" holder="{{profile.fullName}}"></swap-input-row>
        <swap-input-row label="Phone" model="formdata.phone" disabled="!isEditting" holder="{{profile.phone}}"></swap-input-row>
        <swap-select-row label="TeamName" model="formdata.teamNo" pairs="teamOptions" disabled="!isEditting"></swap-select-row>
        <swap-input-row label="StartDate" type="date" model="formdata.startDate" disabled="!isEditting" holder="{{profile.startDate}}"></swap-input-row>
        <swap-input-row label="Address" model="formdata.address" disabled="!isEditting" holder="{{profile.address}}"></swap-input-row>
        <swap-input-row label="MoneyHour" model="formdata.moneyHour" disabled="!isEditting" holder="{{profile.moneyHour}}"></swap-input-row>
        <swap-select-row label="Sex" model="formdata.sex" disabled="!isEditting" options="['Male', 'Female']"></swap-select-row>
    </div>
</div>