.navbar-container {
    width: 100%;
    height: 50px;
}

.navbar-leftside {
    float: left;
    font-size: 20px;
}

.navbar-rightside {
    float: right;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

a.navbar-button-selected {
    text-decoration: none;
    background-color: #007bff;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    width: 100px;
}

a.navbar-button-unselected {
    text-decoration: none;
    background-color: white;
    border-radius: 8px;
    color: black;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    width: 100px;
}

a.navbar-button-unselected:hover, a.navbar-button-selected:active {
    background-color: #007bff;
    color: white;
}

