<div class="interact-nav">
    <h3 class="interact-nameDisplay">Employee</h3>
    <div class="interact-button-wrapper">
        <button class="interactButton" ng-click="isOpeningAddModal = true"><i class="fa-solid fa-circle-plus"></i></button>
        <button class="interactButton" ng-click="isOpeningDelModal = true"><i class="fa-solid fa-trash-can"></i></button>
    </div>
    <add-employee-modal is-show="isOpeningAddModal" teams="teams"
        refetch-employee="refetchEmployee()"></add-employee-modal>
    <delete-employee-dialog is-show="isOpeningDelModal" checked="checked"
        refetch-employee="refetchEmployee()"></delete-employee-dialog>
</div>